
footer{
    background-color: #3B0D96;
    color: #FFFFFF;
    width: 100%;
}

.social{
  text-align:center;

  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:flex;
  text-align:center;
  color: #ccc;
  margin:8px;
  opacity:0.75;
}
i{
  font-size:24px;
  margin:8px;
  width:40px;
  height:40px;
  color: rgb(255, 255, 255);
}
.social > a:hover {
  opacity:0.9;
}
