<div class="body">
  <div class="container">
    <div class="title">Iniciar Sesión</div>
    <div class="content">
      <form [formGroup]="sesion" (ngSubmit)="login()">
        <div class="user-details row">
          <div class="input-box">
            <label class="form-label">Correo electrónico</label>
            <input type="text" class="form-control" formControlName="usrNameLog"
              placeholder="Ingresa tu correo electrónico">

            <div class="alert alert-danger mt-2" [hidden]="usrNameLog?.pristine || usrNameLog?.valid">
              <span *ngIf="usrNameLog?.errors?.['required']">
                El nombre de usuario es requerido
              </span>
            </div>
          </div>

          <div class="input-box">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="passwdLog" placeholder="Ingresa tu contraseña">

            <div class="alert alert-danger mt-2" [hidden]="passwdLog?.pristine || passwdLog?.valid">
              <span *ngIf="passwdLog?.errors?.['required']">
                La contraseña es requerida
              </span>
            </div>
          </div>
        </div>

        <div id="inicio" [ngClass]="sesion.invalid ? 'deshabilitado':'habilitado'" class="button">
          <button id="inputIniciar" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>

    <div class="title">Iniciar Sesión Con Teléfono</div>
    <div class="content">
      <form [formGroup]="phone" (ngSubmit)="loginwphone()">
        <div class="user-details row">
          <div class="input-box" id="inputPhone">
            <label class="form-label">Número de teléfono</label>
            <input type="text" class="form-control" formControlName="numberphone"
              placeholder="Ingresa tu número de teléfono">
            <div class="alert alert-danger mt-2" [hidden]="numberphone?.pristine || numberphone?.valid">
              <span *ngIf="numberphone?.errors?.['required']">
                El telefono es requerido
              </span>
              <span *ngIf="numberphone?.errors?.['wrongNumber']">
                Introduzca el numero en el formato: [+][Codigo del país][Número de telefono]
              </span>
            </div>
          </div>
        </div>
        <div id="iniciowphone" [ngClass]="phone.invalid ? 'deshabilitado':'habilitado'" class="button">
          <button id="inputIniciarwphone" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
    <hr>

    <div class="title mt-2">Registro</div>
    <div class="content">
      <form [formGroup]="usuario" (ngSubmit)="procesar()">

        <div class="user-details">

          <div class="input-box">
            <label class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" formControlName="nombre" placeholder="Ingresa tu nombre completo">

            <div class="alert alert-danger mt-2" [hidden]="name?.pristine || name?.valid">
              <span *ngIf="name?.errors?.['required']">
                El nombre es requerido
              </span>
              <span *ngIf="name?.errors?.['pattern']">
                El nombre no puede llevar caracteres especiales y/o numeros
              </span>
            </div>

          </div>

          <div class="input-box">
            <label class="form-label">Usuario de Minecraft</label>
            <input type="text" class="form-control" formControlName="usrName"
              placeholder="Ingresa tu nombre de usuario">

            <div class="alert alert-danger mt-2" [hidden]="usrName?.pristine || usrName?.valid">
              <span *ngIf="usrName?.errors?.['required']">
                El nombre de usuario es requerido
              </span>
            </div>

          </div>

          <div class="input-box">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Ingresa tu email">

            <div class="alert alert-danger mt-2" [hidden]="email?.pristine || email?.valid">
              <span *ngIf="email?.errors?.['required']">
                El email es requerido
              </span>
              <span *ngIf="email?.errors?.['email']">
                El email no es valido
              </span>
            </div>

          </div>

          <div class="input-box">
            <label class="form-label">Numero de Telefono</label>
            <input type="text" class="form-control" formControlName="telefono" placeholder="Ingresa tu numero">

            <div class="alert alert-danger mt-2" [hidden]="telefono?.pristine || telefono?.valid">
              <span *ngIf="telefono?.errors?.['required']">
                El telefono es requerido
              </span>
              <span *ngIf="numberphone?.errors?.['wrongNumber']">
                Introduzca el numero en el formato: [+][Codigo del país][Número de telefono]
              </span>
            </div>

          </div>

          <div class="input-box">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="passwd" placeholder="Escribe una contraseña">

            <div class="alert alert-danger mt-2" [hidden]="passwd?.pristine || passwd?.valid">
              <span *ngIf="passwd?.errors?.['required']">
                La contraseña es requerida
              </span>
              <span *ngIf="passwd?.errors?.['minlength']">
                La contraseña debe de tener minimo seis caracteres
              </span>
            </div>
          </div>

          <div class="input-box">
            <label class="form-label">Confirmar Contraseña</label>
            <input type="password" class="form-control" [formControl]="passwdConf" placeholder="Confirma la contraseña">

            <div class="alert alert-danger mt-2" [hidden]=" passwdConf.pristine || checkPsswd()">
              <span>
                La contraseña no coincide
              </span>
            </div>
          </div>
        </div>
        <div class="gender-details">
          <input type="radio" name="gender" id="dot-1" formControlName="gender" value="hombre">
          <input type="radio" name="gender" id="dot-2" formControlName="gender" value="mujer">
          <input type="radio" name="gender" id="dot-3" formControlName="gender" value="unknown">
          <span class="gender-title">Genero</span>
          <div class="category">
            <label for="dot-1">
              <span class="dot one"></span>
              Hombre
            </label>
            <label for="dot-2">
              <span class=" dot two"></span>
              Mujer
            </label>
            <label for="dot-3">
              <span class="dot three"></span>
              Prefiero no decirlo
            </label>
          </div>
        </div>
        <div id="registro" [ngClass]="(usuario.invalid || !(checkPsswd())) ? 'deshabilitado':'habilitado'"
          class="button">
          <button type="submit" id="inputRegistro">Registrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
