<div class="container">
  <div class="row mb-4 p-3">
    <div class="card" @fade>
      <h1 class="my-4">Sobre Nosotros</h1>
      <p>
        Somos un equipo conformado de 4 integrantes universitarios, siendo esta
        pagina un proyecto escolar de nuestra universidad. En donde trabajamos
        para mostrar y vender las mejores casas del arquitecto Samuel de Luque,
        con el fin de entregar trabajos de calidad, los miembros que conforman
        este team son:
      </p>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-xxl-3 mb-3">
    <div class="col mb-4">
      <div class="card mb-3" @fade>
        <div class="imgs my-2">
          <img
          src="assets/Img/img1.jpg"
          class="img-fluid rounded"
          alt="..."
          />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">Gerardo Femat Delgado</h5>
          <p class="card-text">
            Tengo 20 años, me gusta desafiarme en todo tipo de retos,
            tiendo a profundizar y analizar cada detalle de mis propias creacioens.
            Ojalá algun día salga Hlf-Life 3. Se que Valve sabe contar hasta 3.
          </p>
          <a href="//instagram.com/gefemadel?igshid=NTc4MTIwNjQ2YQ=="
            ><img src="assets/Img/instagram.png" width="10%"
          /></a>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="assets/Img/img2.jpeg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Emmanuel Muñoz Cerda</h5>
              <p class="card-text">
                Tengo 21 años, me gusta mucho escuchar música, una banda que me
                gusta mucho es The Strokes, algo que tambien me gusta hacer es
                ir al gimnasio, soy una persona muy lista y me gusta ayudar a
                mis amigos en lo que pueda.
              </p>
              <a
                href="https://instagram.com/mannymunoz_?igshid=NTc4MTIwNjQ2YQ=="
                ><img src="assets/Img/instagram.png" width="10%"
              /></a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="assets/Img/img4.jpg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Sandra Olimpia Prieto García</h5>
              <p class="card-text">
                Tengo 20 años, me gusta ver series, películas y animes, además
                de escuchar música. Me gustan mucho los animales, sobre todo los
                perritos, mi color favorito es el morado
              </p>
              <a
                href="https://instagram.com/sandyolimpia02?igshid=ZGUzMzM3NWJiOQ=="
                ><img src="assets/Img/instagram.png" width="10%"
              /></a>
            </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="assets/Img/img3.gif"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Francisco de Jesus Mendez Lara</h5>
              <p class="card-text">
                Tengo 20 años, me gusta hacer streams y programar es uno de mis
                pasatiempos favoritos. Me gusta mucho dormir
              </p>
              <a href=" https://www.instagram.com/franciscomendez324/"
                ><img src="assets/Img/instagram.png" width="10%"
              /></a>
            </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="assets/Img/img6.jpeg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Fatima del Rocío Martínez Dávila</h5>
              <p class="card-text">
                Viviendo una tragicomedia desde el 2002, team Edward, tengo un perrito schnauzer y sinceramente creo que no era necesario sacar "Toy Story 4". Cuiden el planeta, mi perrito tiene mucho calor :))
              </p>
              <a href=" https://www.instagram.com/franciscomendez324/"
                ><img src="assets/Img/instagram.png" width="10%"
              /></a>
            </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card mb-3" @fade>
          <div class="imgs my-2">
            <img
              src="assets/Img/img5.jpg"
              class="img-fluid rounded"
              alt="..."
            />
          </div>
            <div class="card-body text-center">
              <h5 class="card-title">Javier Guerrero Carrera</h5>
              <p class="card-text">
                Tengo 21 años, me gusta mucho tocar música de rock en mi batería y ver transmisiones en vivo. Ahorita dedico mucho tiempo a cuidar a mi abuela.
              </p>
              <a href=" https://www.instagram.com/franciscomendez324/"
                ><img src="assets/Img/instagram.png" width="10%"
              /></a>
            </div>
      </div>
    </div>
  </div>
</div>
