<div class="container" >
    <div  class="row card mb-4 p-3 bg-1 " @fade>
        <h2 class="t-stroke t-shadow">"Si lo puedes imaginar, lo puedes construir" </h2>
    </div>
    <div class="row card mb-4 p-3" @fade>

        <h2 class="my-2">Nuestra Página</h2>
        <p>
          AirbnV es una pagina que renta casas de Minecraft, del famoso youtuber Samuel de
          Luque, mejor conocido como Vegetta777. Con la finalidad de que vivan la
          experiencia de poder vivir en una de las construcciones de esté, ver los
          detalles y ¿por qué no?, jugar y crear su propio mundo al lado de estas
          fantasticas casas.
        </p>
        <div class="contenedor justify-content-center" >
          <img class="logo" src="assets/Img/777.png">
          <div class="overlay">
            <div class="text text-center">
              El logo de nuestra empresa representa la imagen que deseamos generar a
              ustedes usuarios, en donde combinamos los elementos caracteristicos del
              creador de las construcciones con elementos de nosotros, creando así el
              logo que ves en pantalla
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4 card p-3 justify-content-center centrar card" @fade>
        <h2>Algunas de nuestras casas</h2>
        <div class="d-flex">
          <app-cards [casas]="mostrar"></app-cards>
        </div>

      </div>
      <div class="row mb-4 card p-3" @fade>
        <h2>Acerca del creador de las casas:</h2>
        <p>
          Samuel de Luque Batuecas (Madrid, España; 12 de abril de 1989), más conocido
          como Vegetta777, es un youtuber y streamer español que sube videos de
          gameplays de diversos juegos en su canal de YouTube, en donde cuenta con más
          de 33 millones de suscriptores y 15 mil millones de visitas
        </p>
        <div class="container row">
          <div class="col-12 col-lg-6">
            <div
              id="carouselExampleIndicators"
              class="carousel slide cont"
              style="width: 80%; margin: 0 auto"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    class=""
                    src="https://img.blogs.es/vizzagency/wp-content/uploads/2022/09/edit-4-3.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class=""
                    src="https://i.pinimg.com/originals/07/9f/5e/079f5e04fefec03b51c1091cc2ae6a31.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    class=""
                    src="https://i.pinimg.com/originals/17/48/97/174897bf8e4db8be106ad29fdd70d4cc.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <h2>Estamos regalando una casa</h2>
            <p>
              Por unica, ocasion, estamos sorteando una casa, completamente gratis. Lo
              único que tienes que hacer es suscribirse al canal, activar la
              campanita, y ya estas participando!.
            </p>
            <iframe
              width="100%"
              height="350px"
              [src]="link | video : 'https://www.youtube.com/embed/'"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>

            <div class="qrcodeImage justify-content-center">
              <qrcode
                [qrdata]="valor"
                [allowEmptyString]="true"
                [alt]="'A custom alt attribute'"
                [ariaLabel]="'QR Code image with the following content...'"
                [cssClass]="'center'"
                [colorDark]="'#000000ff'"
                [colorLight]="'#b5b1b4'"
                [elementType]="'img'"
                [errorCorrectionLevel]="'M'"
                [margin]="4"
                [scale]="1"
                [title]="'A custom title attribute'"
                [width]="300"
              ></qrcode>
            </div>

            <!--<img class="triple7" src="https://img.blogs.es/vizzagency/wp-content/uploads/2022/09/edit-4-3.jpg" alt="" srcset="">-->
          </div>
        </div>
      </div>


</div>
