
.body {
    min-height: 85vh;
}
h1, h2{
    text-align: center;
}

p{
    font-size: 1.5em;
}

p .card-text{
    font-size: 1em;
}

img .triple7, .logo{
    width: 50%;
    height: auto;
}

.V777{
  width: 100%;
}
.imgs{
  width: 50%;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin: 0 auto;
}

.contenedor{
    position: relative;
    width: 50%;
    margin: 0 auto;
}

.logo {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #570a66;
}

.contenedor:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.card-body{
  width: 100%;
  margin: 0 auto;
}

.card{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.17);
}

/*para el titulo*/
.bg-1{
  padding-top: 150px;
}

.t-stroke {
 color: transparent;
 -moz-text-stroke-width: 1px;
 -webkit-text-stroke-width: 1px;
 -moz-text-stroke-color: #000000;
 -webkit-text-stroke-color: #ffffff;
}

.t-shadow {
 text-shadow: 4px 4px #2f203e;
}

/* The div container */
.qrcodeImage {
  display: flex;
  flex: 1;
}

/* Add custom styles here */
.center {
  display: flex;
  flex: 1;
  justify-content: center;
}
