<div class="body">
    <br><h1>¿Cómo iniciar sesión?</h1>

    <br>

    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1. Estar registrado
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Ya estar registrado, si no estas registrado ir al botón en la esquina superior de la derecha "Iniciar sesión" y en la ultima sección registrarse, llenando lo que se te pide
              <div class="imgs my-2">
                <img
                  src="assets/Img/imgReg.png"
                  class="img-fluid rounded"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2. Al contar ya con un registro podras iniciar sesión 
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Dirigirse al boton de "Iniciar Sesión", en la esquina superiorde la derecha. Iniciar sesión con correo electronico ó número de teléfono.
              <div class="imgs my-2">
                <img
                  src="assets/Img/imgIniciarSe.png"
                  class="img-fluid rounded"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              3. Si los datos fueron correctos, se habrá iniciado sesión
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
             Con el correo te pedira ahí mismo la contraseña y sera suficiente para iniciar sesión. Con el número de teléfono se solicitara un código de verificación que te llegara a ese mismo número que ingresaste.
             <div class="imgs my-2">
                <img
                  src="assets/Img/correcto.png"
                  class="img-fluid rounded"
                  alt="..."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
