<div class="container body">
    <div class="row mb-3">
      <div class="col text-center">
          <h3>Inversionistas</h3>
      </div>
    </div>
    <div class="row">
        <div class="col">
        <div class="card-columns">
            <div class="card-container" *ngFor="let inversion of inversionesData">
            <div class="card card-custom">
                <div class="card-body">
                <h5 class="card-title">{{ inversion.name }}</h5>
                <p class="card-text">Edad: {{ inversion.age }}</p>
                <p class="card-text">Invirtió: {{ inversion.investment }}</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">"{{ inversion.happiness }}"</li>
                </ul>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
