

<h2>Guía para comenzar: </h2>
<div class="row body text-center row-cols-xl-3 row-cols-md-2 row-cols-1">
  <div class="col my-2">
    <div class="card">
        <img src="https://i.pinimg.com/236x/f2/c2/4f/f2c24f780b0ab7470d3f866a20316485--dialysis-teacher-interview-questions.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <p class="card-text"><a routerLink="/comoUsar">¿Cómo usar AirbnV?</a></p>
        </div>
    </div>
  </div>
  <div class="col my-2">
    <div class="card">
        <img src="https://i.pinimg.com/236x/59/ce/ff/59ceff710bfd126f4e3d38c8e3026c92--php-student.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <p class="card-text"><a routerLink="/iniciar">¿Cómo iniciar sesion en AirbnV?</a></p>
        </div>
    </div>
  </div>
  <div class="col my-2">
    <div class="card">
        <img src="https://i.pinimg.com/236x/83/07/cc/8307cc7cd977565012f2e8dc7359b734--chronic-kidney-disease-kidney-failure.jpg" class="card-img-top img" alt="...">
        <div class="card-body">
          <p class="card-text"><a routerLink="/otro">¿Otras dudas?</a></p>
        </div>
    </div>
  </div>
</div>
